%h1 Congratulations, you've created a pub crawl!

%p= "Your friends will get an email with all the details and instructions on how to join.  For future reference, the name of your pub crawl is: #{@crawl.name}."

%p Have fun!
%p Cheers,
%p Jill & Jane at BarCode