%fieldset#register_form
  =form_for @user, :id => 'register_form', :remote => true do |f|
    =f.text_field :name, :class => 'text_field', :placeholder => 'Name'
    =f.text_field :email, :class => 'text_field', :placeholder => 'Email'
    =f.telephone_field :phone, :class => 'text_field', :placeholder => 'phone'
    =f.text_field :address, :class => 'text_field', :placeholder => 'Address'
    =f.password_field :password, :class => 'text_field', :placeholder => 'Password'
    =f.password_field :password_confirmation, :class => 'text_field', :placeholder => 'Confirm password'
    %label Are You a Venue Owner?
    .switch.small.round.small-3.small-centered
      %input#z{:name => "is_owner", :type => "radio", :value => "true"}
      %label{:for => "z", :onclick => ""} Yes
      %input#z1{:checked => "checked", :name => "is_owner", :type => "radio", :value => "false"}
      %label{:for => "z1", :onclick => ""} No
      %span
    =f.submit nil, :class => "button round small"