.row
  .large-10.large-centered.columns
    %h2#howmany How many bars do you want to hit?
    =form_tag num_stops_stops_path, :remote => true do
      =number_field_tag :num_stops
      =hidden_field_tag :crawl, @crawl.id
      =submit_tag nil, :class => 'center', :class => 'button round small'