-if @cu.present? && @cu.is_owner == false
  #button{style:"text-align:center"}
    =link_to("Check-in!", "#", :class => "button radius large expand", :id => "checkin_btn")
-elsif @cu.present? && @cu.is_owner
  %h1 Please login on a non-touch screen device

