-if @cu.present? && @cu.is_owner == false
  =link_to(image_tag("checkin2.png"), "#", :id => "mobile_check_in_btn")
  =link_to(image_tag("challenge2.png"), new_response_path, :remote => true, :id => "mobile_response_button")
-elsif @cu.present? && @cu.is_owner
  %h1 Please sign in on a non-touch screen
-else
  #mobile_session
    = render 'session/mobile_form'

