-if @cu.present? && @cu.is_owner
  #add{:style => "text-align:center"}
    =link_to(image_tag("add_bar_coaster.jpg"), new_venue_path, :remote => true, :class => "login")
    =link_to(image_tag("add_challenge_coaster.jpg"), '#', :class => "login", :remote => true)
  .row
    .large-5.large-centered.columns#venue_form

  .row
    .large-12.columns
      %h2.secondary_display My Venues
      #my_venues
        = render 'venues/my_venues'
