.row
  .large-12.columns.login
    -if @cu.present? && @cu.is_owner == false
      / =link_to("Make a Pub Crawl", new_pub_crawl_path, :remote => true, :class => "button radius")
      =link_to(image_tag("create_crawl_coaster.jpg"), new_pub_crawl_path, :class => 'login', :remote => true)
      =link_to(image_tag("start_crawl_coaster.jpg"), '#', :class => 'login', :remote => true)
      #make_crawl
      .row
        .large-12.columns
          %h2.secondary_display Pub Crawls
          #all_crawls
            = render :partial => "pub_crawls/all_crawls"
