-if @cu.present? && @cu.is_owner == false
  / =link_to("Make a Pub Crawl", new_pub_crawl_path, :remote => true, :class => "button radius")
  =link_to(image_tag("create_crawl_coaster.jpg"), new_pub_crawl_path, :class => 'main_user_btn', :remote => true)
  =link_to(image_tag("start_crawl_coaster.jpg"), '#', :class => 'main_user_btn', :remote => true)
  #make_crawl
  %h2#user_crawls Pub Crawls
  #all_crawls
    = render :partial => "pub_crawls/all_crawls"
