.row
  .large-12.columns
    %h1 BarCode

.row
  .large-12.columns
    %h1.main_button#start Start Your Pub Crawl
    %h1.main_button#create Create a Pub Crawl
    %h1.main_button#add_bar Add Your Bar
    %h1.main_button#activity Add an Activity

  .large-12.columns#owner_content
    =render :partial => "home/owner_content"
.row
  .large-12.columns#regular_content
    =render :partial => "home/regular_content"




