.row
  .large-12.columns.show-for-large-up#owner_content
    =render :partial => "home/owner_content"
/ .row
/   .large-12.columns
/     =render :partial => "stops/make_stops"

.row
  .large-12.columns.show-for-large-up#regular_content
    =render :partial => "home/regular_content"

.row
  .large-12.columns.show-for-small-down#mobile_content
    = render :partial => "mobile_content"


