.row
  .large-12.columns#owner_content
    =render :partial => "home/owner_content"
/ .row
/   .large-12.columns
/     =render :partial => "stops/make_stops"

.row
  .large-12.columns#regular_content
    =render :partial => "home/regular_content"




