.row
  .large-12.columns
    =image_tag('start_crawl_coaster.jpg')
    =image_tag('create_crawl_coaster.jpg')
    =image_tag('add_challenge_coaster.jpg')
    =image_tag('add_bar_coaster.jpg')

  .large-12.columns#owner_content
    =render :partial => "home/owner_content"
.row
  .large-12.columns#regular_content
    =render :partial => "home/regular_content"




