.row
  .large-12.columns.hide-for-touch#owner_content
    =render :partial => "home/owner_content"
/ .row
/   .large-12.columns
/     =render :partial => "stops/make_stops"

.row
  .large-12.columns.hide-for-touch#regular_content
    =render :partial => "home/regular_content"

.row
  .large-12.columns.show-for-touch#mobile_content
    = render :partial => "mobile_content"


