= form_for @venue, :html => {:multipart => true}, :remote => true do |f|
  %fieldset
    %legend= @venue.name.nil? ? "New Venue" : "#{@venue.name}"
    =f.label :name
    =f.text_field :name, :autofocus => true
    =f.label :addres
    =f.text_field :address
    =f.label :image
    =f.file_field :image
    =f.text_field :remote_image_url
    =f.submit