#mobile_form
  -if @activity.response_type == "t"
    %p Your quesiton was:
    %p.lob= "#{@activity.text}"
    %p Enter your response below
    =form_tag responses_path, :remote => true do
      =hidden_field_tag :activity, @activity.id
      =text_area_tag :text
      =submit_tag nil, :class => "button round small"
  -else
    %p Your challenge was:
    %p.lob= "#{@activity.text}"
    %p Upload your photo as proof below
    =form_tag responses_path, :html => {:multipart => true}, :remote => true do
      =hidden_field_tag :activity, @activity.id
      #file=file_field_tag :image
      =submit_tag nil, :class => "button round small"