@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin);

#start
{
  border: 1px solid black;
  width: 250px;
  height: 150px;
  background-image: url('map2.png')
}


/*font-family: 'Cabin', sans-serif;

font-family: 'Lobster', cursive;
*/
.reveal-modal {
  border-radius: 20px;
  border: 1px solid red;
}
