@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin);

#start
{
  border: 1px solid black;
  width: 250px;
  height: 150px;
  background-image: url('map2.png')
}


/*font-family: 'Cabin', sans-serif;

font-family: 'Lobster', cursive;
*/

.reveal-modal {
  border-radius: 20px;
  border: 1px solid red;
  width: 30%
}

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  background: #333 none; /* a color that fits the widget theme */
  color: white; /* a color that is readeable with the color above */
}
.ui-datepicker {
  margin: auto;
}
/* end: jQuery UI Datepicker emphasis on selected dates */

select {
  margin: 15px 0px 15px 0px;
}

.hide {
  display: hidden;
}

/*#register_form{
  float: right;
}*/

.drop {
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

#start
{
  border: 1px solid black;
  width: 250px;
  height: 150px;

}

ul.center{
  list-style: none;
}

.login{
  float: left;
  padding-right: 3em;
  margin-top: 8em;
    img:hover
  {
  box-shadow: 10px 10px 5px #888888;
  }
}

#add_venue_btn{
  padding-right: 5em;
}

.login_info{
  float: right;
  font-size: 1em;
  font-family: 'Lobster', cursive;
}

#register_form{
  float: left;
}

.owner_venues{
  font-family: 'Lobster', cursive;
}

.venue{
  font-family: 'Cabin', sans-serif;
}

.delete_btn{
  background-color: #FFEC56;
}

fieldset{
  height: 450px;
  background-color: #E3E3E3;
  width: 400px;
  float: left;
  font-family: 'Cabin', sans-serif;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 10px;
}

.text_field{
  border-radius: 10px;
}

#login_form{
  height: 175px;
  margin-left: 27em;
}

.nav
{
  display: inline;
  list-style: none;
}

.success
{
  font-family: 'Cabin', sans-serif;
}

.bar_btns{
  float: left;
  width: 12em;
}

.venue_availabilities{
  font-family: 'Cabin', sans-serif;
}

#new_venue{
  width: 35em;
}

#new_venue_form_head{
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.schedule_btns{
  width: 15em;
}

.main_user_btn{
  padding-right: 5em;
}

#user_crawls{
  font-family: 'Lobster', cursive;
}

#search_placeholder{
  width: 15em;
  height: 2em;
  margin-top: 2em;
}

.btn_deets{
  border-radius: 5px;
/*  color: white;
  background-color: #1f66b4;*/
  font-family: 'Cabin', sans-serif;
}