@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400italic,700italic,400,700);

@font-face {
    font-family: 'Lobster13Regular';
    src: font-url('Lobster_1.3-webfont.eot');
    src: font-url('Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Lobster_1.3-webfont.woff') format('woff'),
         font-url('Lobster_1.3-webfont.ttf') format('truetype'),
         font-url('Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#mobile_check_in_btn, #mobile_response_button {
  width: 100%;
  text-align: center;
  img {
    width: 75%;
    margin-left: 9em;
  }
}

#mobile_form {
  font-size: 4em;
  text-align: center;
  line-height: 1em;
  p {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
  }
  p.lob {
    font-family: 'Lobster13Regular';
  }
  #file {
    margin-left: 4em;
    margin-bottom: 1em;
    #bar_pic {

    }
  }
}

#mobile_nav {
  font-size: 4em;
  height: 2em;
  font-family: 'Lobster13Regular';
  color: #1f66b4;

}

#mobile_locations {
  font-family: 'Lobster13Regular';
  font-size: 5em;
  p {
    margin-bottom: 0.5em;
    line-height: 1.25em;
  }
  #mobile_locations_list {
    ul {
      a {
        font-size: 0.75em;
        font-family: 'Cabin', sans-serif;
        font-style: normal;
      }
      line-height: 1em;
    }
  }
}

#mobile_session {
  width: 100%;
  font-size: 3em;
  #mobile_login_form {
    position: relative;
    top: -2.25em;
    #mobile_login_btn {
      margin-left: 10em;
    }

  }
}

#mobile_logo {
  margin-top: 0px;
  padding-top: 0px;
}
.mobile_logo_img {
  width: 100%;
  position: relative;
  top: -2em;
  margin-left: 0.50em;

}
.mobile_logo_text {
  p {
    font-family: 'Lobster13Regular';
    font-size: 3em;
    margin-bottom: 0px;
    color: #1f66b4;
    // background-color: white;
    position: relative;
    top: -1em;
    margin-left: 1.50em;
  }
}

#mobile_done_checkin {
  p {
    font-family: 'Lobster13Regular';
    font-size: 5em;
    text-align: center;
    line-height: 1.25em;
  }
  #fun {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: 4em;
  }
}

#mobile_recieved {
  text-align: center;
  width: 100%;
  font-size: 3em;
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  p.cab {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 2.25em;
    margin-bottom: 0.5em;
  }
  #response_pic {
    margin-bottom: 1em;
    img {
      width: 10em;
    }
  }
  #response_text {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.5em;
  }
}

#checkin_btn {
  text-shadow: none;
  font-weight: none;
}

