%h3= "Select the dates your #{@venue.name} promotion will run:"
=form_tag create_availabilities_venue_path, :remote => true do
  %fieldset.availabilities
    %legend Availabilities
    #calendar{style:"text-align:center;"}
    =label_tag :dates
    =text_field_tag :dates
    =label_tag :promotion
    =text_field_tag :promotion
    =submit_tag "Enter", :class => 'button round'